@font-face {
    font-family: 'Anuphan';
    src: url('Anuphan-Medium.woff2') format('woff2'),
        url('Anuphan-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anuphan';
    src: url('Anuphan-Regular.woff2') format('woff2'),
        url('Anuphan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anuphan';
    src: url('Anuphan-Bold.woff2') format('woff2'),
        url('Anuphan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anuphan';
    src: url('Anuphan-Light.woff2') format('woff2'),
        url('Anuphan-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

